


  <app-page-title  [title]="'Yönetim Sistemine Hoşgeldiniz'" ></app-page-title>


  <!-- <div class="jumbotron text-dark mt-5" style="opacity: 0.8; background-color:#f6f6f7 ; height: 85%;" >
    <div class="container">
        <div class="col-md-6 px-0 ">
            <h1 class="display-4 font-italic pt-3">
                Title of a longer featured blog post
            </h1>
            <p class="lead my-5">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam non illum sequi velit vero
                excepturi facere tenetur perspiciatis necessitatibus recusandae.
            </p>

        </div>
    </div>
</div> -->
